<form [formGroup]="courseForm" class="main-form mt-4">
    <div class="form-group mb-4">
        <label for="title" class="form-label">Naziv: </label>
        <input type="text" formControlName="title" id="title" class="form-control">
    </div>
    <div class="form-group mb-4">
        <label for="details" class="form-label">Opis kursa:</label>
        <textarea id="details" formControlName="details" cols="30" rows="5" class="form-control"></textarea>
    </div>
    <div class="form-group mb-4">
        <label for="author" class="form-label">Autor: </label>
        <input type="text" id="author" formControlName="author" class="form-control">
    </div>
    <div *ngIf = "(Title?.touched && Title?.invalid) || (Author?.touched && Author?.invalid)">
        <div class="alert alert-warning" *ngIf = "Errors">
            {{Errors}}
        </div>
    </div>
    <div class="d-flex gap-2 justify-content-center">
        <button (click)="addCourse()" class="btn btn-success">Dodaj</button>
        <button [disabled] = "id ? false : true" (click)="changeCourse()" class="btn btn-warning">Izmeni <span *ngIf = "id">({{id}})</span></button>
    </div>

</form>
